# Ignore virtual environment
venv/
env/
__pycache__/

# Ignore Python bytecode
*.pyc
*.pyo
*.pyd

# Ignore dependency files
*.log
*.db

# Ignore installed dependencies
*.egg-info/
pip-log.txt

# Ignore environment variables
.env
